# Missing value handling

missing values in pandas data fra,e are represented by NaN ( np.nan )

for data analytics / predictions / machine learning we require to fill the missing values

In [1]:
import pandas as pd
import numpy as np

In [2]:
from numpy.random import default_rng
rng = default_rng()


dates = pd.date_range("20230315",
                      periods=6)

df = pd.DataFrame(rng.standard_normal((6, 4)),
                  index=dates,
                  columns=list("ABCD"))

print(df)

                   A         B         C         D
2023-03-15 -0.399247 -0.995103 -0.029139 -1.213640
2023-03-16  2.733800  0.282692  1.108842  1.273597
2023-03-17 -0.095947 -0.526418 -0.452813 -0.540200
2023-03-18 -0.954841 -0.572911 -1.647783 -0.024568
2023-03-19  0.539248  1.121076 -0.182993 -0.122181
2023-03-20 -0.188311  0.510006  0.205117  0.145277

In [3]:
print("############")
df1= df.copy()

df1['E'] = [5,np.nan,100,np.nan,200,500]

print(df1)
# Check which cells are Missing (NaN)
print(df1['E'] == np.nan)
print(df1.isna())
print(df1.isnull())

############
                   A         B         C         D      E
2023-03-15 -0.399247 -0.995103 -0.029139 -1.213640    5.0
2023-03-16  2.733800  0.282692  1.108842  1.273597    NaN
2023-03-17 -0.095947 -0.526418 -0.452813 -0.540200  100.0
2023-03-18 -0.954841 -0.572911 -1.647783 -0.024568    NaN
2023-03-19  0.539248  1.121076 -0.182993 -0.122181  200.0
2023-03-20 -0.188311  0.510006  0.205117  0.145277  500.0
2023-03-15    False
2023-03-16    False
2023-03-17    False
2023-03-18    False
2023-03-19    False
2023-03-20    False
Freq: D, Name: E, dtype: bool
                A      B      C      D      E
2023-03-15  False  False  False  False  False
2023-03-16  False  False  False  False   True
2023-03-17  False  False  False  False  False
2023-03-18  False  False  False  False   True
2023-03-19  False  False  False  False  False
2023-03-20  False  False  False  False  False
                A      B      C      D      E
2023-03-15  False  False  False  False  False
2023-03-16  False  False  False  False   True
2023-03-17  False  False  False  False  False
2023-03-18  False  False  False  False   True
2023-03-19  False  False  False  False  False
2023-03-20  False  False  False  False  False

In [4]:
df1['E'].describe()

count      4.000000
mean     201.250000
std      214.490676
min        5.000000
25%       76.250000
50%      150.000000
75%      275.000000
max      500.000000
Name: E, dtype: float64

## Solution to missing value

- drop rows / columns containing missing values

In [5]:
# Drop all rows containing any missing (NaN) value
print(df1)
print(df1.dropna(how="any" )) # by default axis=0
print(df1.dropna(how="any",axis=1))

                   A         B         C         D      E
2023-03-15 -0.399247 -0.995103 -0.029139 -1.213640    5.0
2023-03-16  2.733800  0.282692  1.108842  1.273597    NaN
2023-03-17 -0.095947 -0.526418 -0.452813 -0.540200  100.0
2023-03-18 -0.954841 -0.572911 -1.647783 -0.024568    NaN
2023-03-19  0.539248  1.121076 -0.182993 -0.122181  200.0
2023-03-20 -0.188311  0.510006  0.205117  0.145277  500.0
                   A         B         C         D      E
2023-03-15 -0.399247 -0.995103 -0.029139 -1.213640    5.0
2023-03-17 -0.095947 -0.526418 -0.452813 -0.540200  100.0
2023-03-19  0.539248  1.121076 -0.182993 -0.122181  200.0
2023-03-20 -0.188311  0.510006  0.205117  0.145277  500.0
                   A         B         C         D
2023-03-15 -0.399247 -0.995103 -0.029139 -1.213640
2023-03-16  2.733800  0.282692  1.108842  1.273597
2023-03-17 -0.095947 -0.526418 -0.452813 -0.540200
2023-03-18 -0.954841 -0.572911 -1.647783 -0.024568
2023-03-19  0.539248  1.121076 -0.182993 -0.122181
2023-03-20 -0.188311  0.510006  0.205117  0.145277

### Solution to missing value handling

- fill the missing values

In [6]:
print(df1)
# Fill constant value
print(df1.fillna(value=9999))
# Fill Median value of that column
# Used in Industry
print(df1.fillna(value=df1.median()))
print(df1.fillna(value=df1.mean()))

                   A         B         C         D      E
2023-03-15 -0.399247 -0.995103 -0.029139 -1.213640    5.0
2023-03-16  2.733800  0.282692  1.108842  1.273597    NaN
2023-03-17 -0.095947 -0.526418 -0.452813 -0.540200  100.0
2023-03-18 -0.954841 -0.572911 -1.647783 -0.024568    NaN
2023-03-19  0.539248  1.121076 -0.182993 -0.122181  200.0
2023-03-20 -0.188311  0.510006  0.205117  0.145277  500.0
                   A         B         C         D       E
2023-03-15 -0.399247 -0.995103 -0.029139 -1.213640     5.0
2023-03-16  2.733800  0.282692  1.108842  1.273597  9999.0
2023-03-17 -0.095947 -0.526418 -0.452813 -0.540200   100.0
2023-03-18 -0.954841 -0.572911 -1.647783 -0.024568  9999.0
2023-03-19  0.539248  1.121076 -0.182993 -0.122181   200.0
2023-03-20 -0.188311  0.510006  0.205117  0.145277   500.0
                   A         B         C         D      E
2023-03-15 -0.399247 -0.995103 -0.029139 -1.213640    5.0
2023-03-16  2.733800  0.282692  1.108842  1.273597  150.0
2023-03-17 -0.095947 -0.526418 -0.452813 -0.540200  100.0
2023-03-18 -0.954841 -0.572911 -1.647783 -0.024568  150.0
2023-03-19  0.539248  1.121076 -0.182993 -0.122181  200.0
2023-03-20 -0.188311  0.510006  0.205117  0.145277  500.0
                   A         B         C         D       E
2023-03-15 -0.399247 -0.995103 -0.029139 -1.213640    5.00
2023-03-16  2.733800  0.282692  1.108842  1.273597  201.25
2023-03-17 -0.095947 -0.526418 -0.452813 -0.540200  100.00
2023-03-18 -0.954841 -0.572911 -1.647783 -0.024568  201.25
2023-03-19  0.539248  1.121076 -0.182993 -0.122181  200.00
2023-03-20 -0.188311  0.510006  0.205117  0.145277  500.00

# Column operations in pandas

## drop a column

- using drop function

drop function uses

a. axis --> if axis=0 then drop will work in direction of rows, if axis=1 then drop will work on columns. By default axis=0

b. labels --> compulsory parameter

give sinle label / list of labels for rows / columns ( column label is name of the column )

c. inplace --> if true --> then modify original data frame returns None , if false --> creates a copy of original and changes the copy, return the changed copy

In [7]:
print(df)
# drop drop column 'D'
print(df.drop('D', axis=1))
# drop drop column 'A' & 'C'
print(df.drop(['A','C'], axis=1))

                   A         B         C         D
2023-03-15 -0.399247 -0.995103 -0.029139 -1.213640
2023-03-16  2.733800  0.282692  1.108842  1.273597
2023-03-17 -0.095947 -0.526418 -0.452813 -0.540200
2023-03-18 -0.954841 -0.572911 -1.647783 -0.024568
2023-03-19  0.539248  1.121076 -0.182993 -0.122181
2023-03-20 -0.188311  0.510006  0.205117  0.145277
                   A         B         C
2023-03-15 -0.399247 -0.995103 -0.029139
2023-03-16  2.733800  0.282692  1.108842
2023-03-17 -0.095947 -0.526418 -0.452813
2023-03-18 -0.954841 -0.572911 -1.647783
2023-03-19  0.539248  1.121076 -0.182993
2023-03-20 -0.188311  0.510006  0.205117
                   B         D
2023-03-15 -0.995103 -1.213640
2023-03-16  0.282692  1.273597
2023-03-17 -0.526418 -0.540200
2023-03-18 -0.572911 -0.024568
2023-03-19  1.121076 -0.122181
2023-03-20  0.510006  0.145277

## change name of the column

In [8]:
df1=df.copy()
print(df1)
# rename column B with BBB
df1['BBB'] = df1['B']
df1.drop(['B'], axis=1,inplace=True)
print(df1)

                   A         B         C         D
2023-03-15 -0.399247 -0.995103 -0.029139 -1.213640
2023-03-16  2.733800  0.282692  1.108842  1.273597
2023-03-17 -0.095947 -0.526418 -0.452813 -0.540200
2023-03-18 -0.954841 -0.572911 -1.647783 -0.024568
2023-03-19  0.539248  1.121076 -0.182993 -0.122181
2023-03-20 -0.188311  0.510006  0.205117  0.145277
                   A         C         D       BBB
2023-03-15 -0.399247 -0.029139 -1.213640 -0.995103
2023-03-16  2.733800  1.108842  1.273597  0.282692
2023-03-17 -0.095947 -0.452813 -0.540200 -0.526418
2023-03-18 -0.954841 -1.647783 -0.024568 -0.572911
2023-03-19  0.539248 -0.182993 -0.122181  1.121076
2023-03-20 -0.188311  0.205117  0.145277  0.510006

## add two columns and create a new column

example

there is data of students. columns sub1_marks, sub2_marks, sub3_marks

we need to have a total column

In [9]:
# take a data frame
df1 = df.copy()
print(df1)
# create a new column 'Z' such that Z = A+B
df1['Z'] = df1['A'] + df1['B']
print(df1)
# create 'discounted C' dis_c = 0.9 * df['C' ] #10% less amount than C
df1['dis_c'] = 0.9*df['C'] # df['dis_C'] = df['C'] - 0.1* df['C']
print(df1)
# you can perform any math operation here .. all operators are

                   A         B         C         D
2023-03-15 -0.399247 -0.995103 -0.029139 -1.213640
2023-03-16  2.733800  0.282692  1.108842  1.273597
2023-03-17 -0.095947 -0.526418 -0.452813 -0.540200
2023-03-18 -0.954841 -0.572911 -1.647783 -0.024568
2023-03-19  0.539248  1.121076 -0.182993 -0.122181
2023-03-20 -0.188311  0.510006  0.205117  0.145277
                   A         B         C         D         Z
2023-03-15 -0.399247 -0.995103 -0.029139 -1.213640 -1.394350
2023-03-16  2.733800  0.282692  1.108842  1.273597  3.016492
2023-03-17 -0.095947 -0.526418 -0.452813 -0.540200 -0.622366
2023-03-18 -0.954841 -0.572911 -1.647783 -0.024568 -1.527752
2023-03-19  0.539248  1.121076 -0.182993 -0.122181  1.660324
2023-03-20 -0.188311  0.510006  0.205117  0.145277  0.321695
                   A         B         C         D         Z     dis_c
2023-03-15 -0.399247 -0.995103 -0.029139 -1.213640 -1.394350 -0.026225
2023-03-16  2.733800  0.282692  1.108842  1.273597  3.016492  0.997958
2023-03-17 -0.095947 -0.526418 -0.452813 -0.540200 -0.622366 -0.407532
2023-03-18 -0.954841 -0.572911 -1.647783 -0.024568 -1.527752 -1.483005
2023-03-19  0.539248  1.121076 -0.182993 -0.122181  1.660324 -0.164694
2023-03-20 -0.188311  0.510006  0.205117  0.145277  0.321695  0.184605

# Apply user defined function to data

In [10]:
df1 =df[['A','B','C']].copy()
print(df1)
# apply () applies given function on ALL columns one by one
 # x is all values from a single column
print(df1.apply(lambda x: x.max() - x.min()))
print(df1.apply(lambda x: x.mean())) # mean of every column
def my_func(x):
    return x[0]
print(df1.apply(my_func)) # return first value of every column
print(df1[['C']].apply(my_func))
print(df1.loc[:,['C']].apply(my_func))
### WRONG EXAMPLE .....
def my_non_vec_fun(x):
    return 10
 # x is all values from a single column
print(df1.apply(my_non_vec_fun))

                   A         B         C
2023-03-15 -0.399247 -0.995103 -0.029139
2023-03-16  2.733800  0.282692  1.108842
2023-03-17 -0.095947 -0.526418 -0.452813
2023-03-18 -0.954841 -0.572911 -1.647783
2023-03-19  0.539248  1.121076 -0.182993
2023-03-20 -0.188311  0.510006  0.205117
A    3.688641
B    2.116179
C    2.756625
dtype: float64
A    0.272450
B   -0.030110
C   -0.166462
dtype: float64
A   -0.399247
B   -0.995103
C   -0.029139
dtype: float64
C   -0.029139
dtype: float64
C   -0.029139
dtype: float64
A    10
B    10
C    10
dtype: int64

/var/folders/54/gfhqd5h505l__hz49w789hjr0000gn/T/ipykernel_55032/2716071758.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  return x[0]
/var/folders/54/gfhqd5h505l__hz49w789hjr0000gn/T/ipykernel_55032/2716071758.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  return x[0]
/var/folders/54/gfhqd5h505l__hz49w789hjr0000gn/T/ipykernel_55032/2716071758.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  return x[0]

# String column handling

In [11]:
s = pd.Series([10.2,"A", "  B", "C", "Aaba  ", "  Baca  ",
                np.nan, "CABA  ", "dog",
               "cat"])

print(s.str.lower())
# print(s.str.)
print(s.str.endswith("a"))
print(s.str.lower().str.strip()) #functional programming

0         NaN
1           a
2           b
3           c
4      aaba
5      baca
6         NaN
7      caba
8         dog
9         cat
dtype: object
0      NaN
1    False
2    False
3    False
4    False
5    False
6      NaN
7    False
8    False
9    False
dtype: object
0     NaN
1       a
2       b
3       c
4    aaba
5    baca
6     NaN
7    caba
8     dog
9     cat
dtype: object

# Concatination of data frames

In [12]:
df = pd.DataFrame(np.random.randn(10, 4))

print(df)
print(df.iloc[:3,])
print(df.iloc[3:7,])
print(df.iloc[7:,])

          0         1         2         3
0  0.821800  0.603550  1.635990  0.857554
1  0.178634 -0.048404 -1.110493 -1.173919
2  3.586864 -1.643590  1.784176 -0.088737
3 -0.555415  0.194049  0.741538  0.853406
4 -0.796681 -0.180370 -0.436584 -0.953398
5 -0.333584 -0.361001 -1.161337  1.929245
6 -0.934980 -0.293121  0.758804 -1.720202
7  1.331533 -0.231788 -0.561455  0.326700
8  0.281324  0.222271  0.207164 -0.423861
9  0.957196 -1.748228 -0.186760  0.124548
          0         1         2         3
0  0.821800  0.603550  1.635990  0.857554
1  0.178634 -0.048404 -1.110493 -1.173919
2  3.586864 -1.643590  1.784176 -0.088737
          0         1         2         3
3 -0.555415  0.194049  0.741538  0.853406
4 -0.796681 -0.180370 -0.436584 -0.953398
5 -0.333584 -0.361001 -1.161337  1.929245
6 -0.934980 -0.293121  0.758804 -1.720202
          0         1         2         3
7  1.331533 -0.231788 -0.561455  0.326700
8  0.281324  0.222271  0.207164 -0.423861
9  0.957196 -1.748228 -0.186760  0.124548

In [13]:
df_list = [df[:3], df[3:7], df[7:]]

print(pd.concat(df_list ))

          0         1         2         3
0  0.821800  0.603550  1.635990  0.857554
1  0.178634 -0.048404 -1.110493 -1.173919
2  3.586864 -1.643590  1.784176 -0.088737
3 -0.555415  0.194049  0.741538  0.853406
4 -0.796681 -0.180370 -0.436584 -0.953398
5 -0.333584 -0.361001 -1.161337  1.929245
6 -0.934980 -0.293121  0.758804 -1.720202
7  1.331533 -0.231788 -0.561455  0.326700
8  0.281324  0.222271  0.207164 -0.423861
9  0.957196 -1.748228 -0.186760  0.124548

# How to perform join like SQL in pandas data frame

- merge function : this is one of the ways

In [14]:
left = pd.DataFrame({"key": ["foo", "bar"],
                     "lval": [1, 2]})

right = pd.DataFrame({"key": ["foo", "bar"],
                      "rval": [4, 5]})

print(left)

print(right)
print(pd.merge(left, right, on="key")) # on takes name of the column

   key  lval
0  foo     1
1  bar     2
   key  rval
0  foo     4
1  bar     5
   key  lval  rval
0  foo     1     4
1  bar     2     5

# GroupBy


 List of Aggregation FUnctions on Group by

mean(): Compute mean of groups

sum(): Compute sum of group values

size(): Compute group sizes

count(): Compute count of group

std(): Standard deviation of groups

var(): Compute variance of groups

sem(): Standard error of the mean of groups.
 It describes how every value of the group is away from the mean.

describe(): Generates descriptive statistics

first(): Compute first of group values

last(): Compute last of group values

nth() : Take nth value, or a subset if n is a list

min(): Compute min of group values

max(): Compute max of group values

nunique() : count of unique records in selected column

unique() : unique values in selected column

ref : https://pandas.pydata.org/pandas-docs/version/0.23/api.html#function-application

ref : https://cmdlinetips.com/2019/10/pandas-groupby-13-functions-to-aggregate/

In [15]:
df = pd.DataFrame(
    {
        "A": ["foo", "bar", "foo", "bar",
              "foo", "bar", "foo", "foo"],
        "B": ["one", "one", "two",
              "three", "two", "two",
              "one", "three"],
        "C": np.random.randn(8),
        "D": np.random.randn(8),
    }
)

print(df)

     A      B         C         D
0  foo    one -1.056213 -0.696883
1  bar    one -0.915041 -0.312766
2  foo    two -0.802277  0.266051
3  bar  three  0.359534 -0.380697
4  foo    two  0.608858 -2.073909
5  bar    two  0.672410  0.313756
6  foo    one -0.312966 -0.924482
7  foo  three  0.578169  1.348576

- Group By Single Column

In [16]:
print(df.groupby("A")[["C", "D"]].sum())
print("#############")
print(df.groupby("A")[["C"]].sum())

            C         D
A
bar  0.116902 -0.379708
foo -0.984428 -2.080647
#############
            C
A
bar  0.116902
foo -0.984428

In [17]:
# Group By Multiple Columns
print(df.groupby(["A", "B"]).sum())
print("#############")
print(df.groupby(["A", "B"])['D'].sum())

                  C         D
A   B
bar one   -0.915041 -0.312766
    three  0.359534 -0.380697
    two    0.672410  0.313756
foo one   -1.369179 -1.621365
    three  0.578169  1.348576
    two   -0.193418 -1.807858
#############
A    B
bar  one     -0.312766
     three   -0.380697
     two      0.313756
foo  one     -1.621365
     three    1.348576
     two     -1.807858
Name: D, dtype: float64

# Categorical Data Handling

In [18]:
df = pd.DataFrame(
    {"id": [1, 2, 3, 4, 5, 6],
     "raw_grade":
         ["a", "b", "b", "a", "a", "e"]}
)

print(df)
print(df.dtypes)

df["grade"] = df["raw_grade"].astype("category")

print(df["grade"])

   id raw_grade
0   1         a
1   2         b
2   3         b
3   4         a
4   5         a
5   6         e
id            int64
raw_grade    object
dtype: object
0    a
1    b
2    b
3    a
4    a
5    e
Name: grade, dtype: category
Categories (3, object): ['a', 'b', 'e']